%% General options.
{src_dirs, ["src", "test"]}.
{deps_dir , "deps"}.
{lib_dirs , []}.

{deps, []}.

%% Erlang compiler options.
{erl_opts, [ debug_info
           , warnings_as_errors
           , {i, "include"}
           ]}.

{clean_files, ["**/*~"]}.

%% Tests and checks options.
{validate_app_modules, true}.
{eunit_opts, [verbose]}.
{cover_enabled, true}.
{cover_print_enabled , true}.
{cover_export_enabled , true}.
{xref_warnings , false}.
{xref_checks , [undefined_function_calls]}.

